<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dominus.dominusrod" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>

    <!-- ConnectivityManager -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- WifiManager -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name=".ora112.wifi.receiver.ClearGuestConnectedReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <!--<action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE" />-->
                <!--<action android:name="android.net.wifi.STATE_CHANGE" />-->
                <!--<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />-->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ConnectorActivity"
            android:label="@string/title_activity_connector" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ora112.wifi.service.WifiKeyReqIntentService"
            android:exported="false" >
        </service>
    </application>

</manifest>
